@font-face {
  font-family: 'DaxRegular';
  src: url('fonts/dax-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
    font-family: 'DaxRegular', sans-serif;
}

body {
  background: #fff;
  font-family: sans-serif;
  text-align: center;
}

.container {
  margin-top: 40px;
}

.wheel {
  position: relative;
  width: 70vh;
  height: 70vh;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #000;
  overflow: hidden;
  transform: rotate(0deg);
  transition: transform 5s ease-out;
}

.segment {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 2rem;
  /* Cada segmento se rota según su índice */
    transform: rotate(calc(var(--i) * 72deg));
  /* Recorta el segmento en forma de cuña de 72 grados */
  clip-path: polygon(
    50% 50%,
    0% 0%,
    100% 0%
  );
   border-right: 2px solid #fff;
    font-size: 100px;

}

.arrow {
  font-size: 50px;
  margin-bottom: -25px;
  position: relative;
  z-index: 1000;
}

button {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 2px solid black;
  padding: 10px;
  z-index: 10;
  text-align: center;
}

.popup img {
  max-width: 300px;
}

.popup-buttons button {
  margin: 10px;
  padding: 8px 16px;
  border-radius: 20px;
}

.hidden {
  display: none;
}

#videoContainer {
  margin-top: 20px;
}

.fullscreen-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullscreen-video video {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background: #000;
}
